:root {
  --logo-header-color: rgba(0, 0, 0, 1);
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;

  --buttons-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --modal-hover-btn: #188ce8;

  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);

  --modal-backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-ph-color: rgba(117, 117, 117, 0.5);
  --border-input-form: rgba(33, 33, 33, 0.2);

  --works-bg-color: rgba(47, 48, 58, 0.8);

  --header-border-color: #ececec;
  --prtfolio-border-color: #eeeeee;

  --icon-color: #afb1b8;
  --footer-media-bg-color: rgba(255, 255, 255, 0.1);
  --footer-subscribe-border: rgba(255, 255, 255, 0.3);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* Text-decoration */

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.links-list {
  padding: 0;
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: center;
  gap: 10px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Page-header */

.page-header {
  border-bottom: var(--header-border-color) solid 1px;
}

.page-header__items {
  display: flex;
  align-items: center;
}

.page-header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-header-color);
}
.web {
  color: var(--accent-color);
}

/* Navigation */

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link--current {
  position: relative;
  color: var(--accent-color);
}

.navigation__link--current::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;

  background-color: var(--hero-bg-color);

  background-image: linear-gradient(
      to right,
      var(--hero-gradient-color),
      var(--hero-gradient-color)
    ),
    url('../images/HeaderImg.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  padding: 10px 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--modal-hover-btn);
}

/* Features */

.feature {
  padding-bottom: 0;
}

.feature__list {
  display: flex;
  gap: 30px;
}

.feature__item {
  flex-basis: calc((100% - 90px) / 4);
}

/* .feature__item + .feature__item {
  margin-left: 30px;
} */

.feature__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feature__thumb {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--buttons-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

/* Works */

.works__list {
  display: flex;
  gap: 30px;
}

.works__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
/* .works__item + .works__item{
  margin-left: 30px;
  position: relative;
} */

.works__title {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background-color: var(--works-bg-color);
}

/* Team */

.team {
  background-color: var(--buttons-bg-color);
}

.team__list {
  display: flex;
}

.team__item + .team__item {
  margin-left: 30px;
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__media-link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__media-link:last-child {
  margin-right: 0;
}

.team__media-link:hover,
.team__media-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* Partners */

.partners__list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.partners__item {
  flex-basis: calc((100% - 150px) / 6);
}

/* .partners__item + .partners__item {
  margin-left: 30px;
} */

.partners__link {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover,
.partners__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer__thumb {
  min-width: 231px;
}

.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer__address {
  margin-top: 20px;
}

.footer__contacts {
  margin-top: 9px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer__link--address {
  color: var(--primary-white-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link--contacts {
  color: var(--footer-contacts-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link--address:hover,
.footer__link--address:focus,
.footer__link--contacts:hover,
.footer__link--contacts:focus {
  color: var(--accent-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__media {
  margin-left: 70px;
}
.footer__join {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer__media-link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--footer-media-bg-color);
  justify-content: center;
  align-items: center;
  fill: var(--primary-white-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__media-link:last-child {
  margin-right: 0;
}

.footer__media-link:hover,
.footer__media-link:focus {
  background-color: var(--accent-color);
}

/* Subscribe */

.subscribe {
  margin-left: 93px;
}

.subscribe__form {
  display: flex;
}

.subscribe__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscribe__input {
  padding: 15px 16px;

  width: 358px;
  height: 50px;

  border: 1px solid var(--footer-subscribe-border);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--footer-bg-color);
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--footer-contacts-color);
}

.subscribe__button {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding-left: 28px;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: var(--modal-hover-btn);
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

/* Portfolio */

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-list__item + .filter-list__item {
  margin-left: 8px;
}

.filter-list__button {
  min-width: 73px;
  padding: 6px 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--buttons-bg-color);
  color: var(--title-text-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover,
.filter-list__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-list__item:nth-child(3n) {
  margin-right: 0;
}

.project-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-list__linkt {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover,
.project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__thumb {
  position: relative;
  overflow: hidden;
}

.project-list__overlay {
  display: inline-block;
  content: '';
  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;

  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link:hover .project-list__overlay,
.project-list__link:focus .project-list__overlay {
  opacity: 1;
  transform: translateY(0%);
}

.project-list__border {
  padding: 20px 24px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--prtfolio-border-color);

  /* Встановить стилі нижньої рамки */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--prtfolio-border-color);

  /* Встановить стилі лівої рамки */
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--prtfolio-border-color);
}
.project-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-list__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop-color);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%);

  /* transform: scale(1.1); */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  min-height: 581px;
  min-width: 528px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  /* transform: scale(1); */

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover,
.modal__button:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Form */

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__field:nth-child(4) {
  margin-bottom: 0;
}

.form__input {
  height: 40px;
  margin: 0;
  padding: 12px 12px;
  padding-left: 42px;
  border: 1px solid var(--border-input-form);
  border-radius: 4px;
  outline: none;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.form__comment {
  padding: 12px 16px;
  resize: none;
  border: 1px solid var(--border-input-form);
  border-radius: 4px;
  outline: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--modal-ph-color);
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}
.form__input:focus {
  border: 1px solid var(--accent-color);
}
.form__comment:focus {
  border: 1px solid var(--accent-color);
}

.form__check-field {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.form__check-line {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.form__icon-check {
  display: inline-block;
  margin-right: 8.38px;

  border: 2px solid #2a2a2a;
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .form__icon-check {
  border-color: transparent;
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding: 0;

  width: 200px;
  height: 50px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border-width: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover,
.form__button:focus {
  background-color: var(--modal-hover-btn);
}
