.hero {

    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    @media screen and (min-width: $tablet) {

      max-width: $tablet;
      }
 

    @media screen and (min-width: $desktop) {

      max-width: 1600px;

      padding-top: 200px;
      padding-bottom: 200px;
      }

  
    margin-left: auto;
    margin-right: auto;
    max-width: $mobile;
 
    background-color: $hero-bg-color;
  
    background-image: linear-gradient(
        to right,
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url('../images/mobile/mobileHero.jpg');

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(
          to right,
          $hero-gradient-color,
          $hero-gradient-color
        ), url('../images/mobile/mobileHero@2x.jpg');
 
      }

    @media screen and (min-width: 577px) {

        background-image: linear-gradient(
          to right,
          $hero-gradient-color,
          $hero-gradient-color
        ),
        url('../images/tablet/tabletHero.jpg');

        @media (min-resolution: 2dppx) {
          background-image: linear-gradient(
            to right,
            $hero-gradient-color,
            $hero-gradient-color
          ), url('../images/tablet/tabletHero@2x.jpg');
   
        }
        
      }

      @media screen and (min-width: 769px) {

        background-image: linear-gradient(
          to right,
          $hero-gradient-color,
          $hero-gradient-color
        ),
        url('../images/desktop/desktopHero.jpg');

        @media (min-resolution: 2dppx) {
          background-image: linear-gradient(
            to right,
            $hero-gradient-color,
            $hero-gradient-color
          ), url('../images/desktop/desktopHero@2x.jpg');
   
        }
        
      }

  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
      margin-top: 0;
      margin-bottom: 30px;

      font-weight: 900;
      font-size: 26px;
      line-height: 1.615;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $primary-white-color;
      

      @media screen and (min-width: $desktop) {
        font-size: 44px;
      line-height: 1.36;
 
      }
    }
  }
  
  
  
  .hero__button {
    padding: 10px 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    color: $primary-white-color;
    border-color: transparent;
    border-radius: 4px;
    
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $cubic;

    @media screen and (min-width: $desktop) {
        padding: 10px 32px;
    }

    &:hover,
    &:focus {
    background-color: $modal-hover-btn;
  }
  
  }
  
  