.filter-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 15px;

    margin-bottom: 40px;

    width: 80%;

    @media screen and (min-width: $tablet) {
        justify-content: center; 
        margin-bottom: 30px;

        width: 100%;
           
    }

    @media screen and (min-width: $desktop) {

        margin-bottom: 50px;         
    }

  }

  .filter-list__button {
    min-width: 73px;
    padding: 6px 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: $portfolio-btns-bg-color;
    color: $title-text-color;
    border-color: transparent;
    border-radius: 4px;
   
  
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $cubic;

    &:hover,
    &:focus {
      color: $primary-white-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  

  .project-list {

     @extend %list;

     display: flex;
     flex-wrap: wrap;
     gap: 30px;

    &__thumb {
      position: relative;
      overflow: hidden;



    }

    &__border {
      flex-grow: 1;
      
      padding: 20px 24px;
    
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: $prtfolio-border-color;
    
      /* Встановить стилі нижньої рамки */
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: $prtfolio-border-color;
    
      /* Встановить стилі лівої рамки */
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: $prtfolio-border-color;
    }
    
    &__title {
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $title-text-color;
    }
    
    &__text {
      color: $primary-text-color;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.03em;
    }

    
    
  }
  
  .project-list__item {

    width: 100%;

    @media screen and (min-width: $tablet) {

      margin-bottom: 0;
      flex-basis: calc((100% - 30px) / 2);

      
  }

    @media screen and (min-width: $desktop) {

      flex-basis: calc((100% - 2*30px) / 3);
        
    }

  }
  

  
  .project-list__link {
    @extend %link;

    display: flex;
    flex-direction: column;
    height: 100%;
  
    transition: box-shadow 250ms $cubic;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
  }
  


  .project-list__overlay {
    display: inline-block;
    position: absolute;
    content: '';

    padding: 63px 24px;
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.555;
  
    letter-spacing: 0.03em;
  
    color: $primary-white-color;
    background-color: $project-list__text-bg-color;
  
    transform: translateY(100%);
  
    transition: transform 250ms $cubic;

    .project-list__link:hover &,
    .project-list__link:focus & {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
 
  
