.contacts {
    
    @extend %list;
    display: none;

    @media screen and (min-width: $tablet) {

      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      margin-left: 96px;    
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      margin-left: auto;
      gap: 30px;

    }


    &__icon {
      fill: currentColor;
      margin-right: 10px;
    }
  }
 
  
  .contacts__link {

    @extend %link;

    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.1666;

    @media screen and (min-width: $desktop) {

      padding-top: 32px;
      padding-bottom: 32px;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      
    }
    
    color: $primary-text-color;
  
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: $cubic;

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }


  }
  

