body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: $primary-text-color;
    background-color: $primary-white-color;

   
  }


  .web {
    color: $accent-color;
  }

  .container {

    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: $mobile;

    @media screen and (min-width: $tablet) {

      width: $tablet;
      
    }

    @media screen and (min-width: $desktop) {

      width: $desktop;
      
    }


  }

  .links-list {

    @extend %list;
    
    display: flex;
    justify-content: center;

    gap: 10px;
  }


  

  