// Colors

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$border-black-color: #2a2a2a;

$header-border-color: #ececec;
$logo-header-color: rgba(0, 0, 0, 1);

$hero-bg-color: #c4c4c4;
$hero-gradient-color: rgba(47, 48, 58, 0.4);

$feature-thumb-color: #f5f4fa;

$works-bg-color: rgba(47, 48, 58, 0.8);

$team-bg-color: #f5f4fa;

$icon-color: #afb1b8;

$footer-bg-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-media-bg-color: rgba(255, 255, 255, 0.1);
$footer-subscribe-border: rgba(255, 255, 255, 0.3);

$modal-backdrop-color: rgba(0, 0, 0, 0.2);
$modal-ph-color: rgba(117, 117, 117, 0.5);
$border-input-form: rgba(33, 33, 33, 0.2);
$modal-hover-btn: #188ce8;


$portfolio-btns-bg-color: #f5f4fa;
$prtfolio-border-color: #eeeeee;
$project-list__text-bg-color: rgba(33, 150, 243, 0.9);



// Cubic

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
